* {
    margin: 0;
    top: 0;
    bottom: 0;

}

:root {
    --cor-base: #fafaff;
    --cor-rosa: #AA41FA;
    --cor-azul: #34a6d3;
    --cor-marinho: #4150FA;
    --cor-roxo: #6E41FA;
    --cor-azul-morinho: #005ce6;
    --cor-verde: #42c505;
    --cor-preta: #000;
    --tamanho-fonte: 16px;
    --peso-fonte: 12px;
}

/* Estilo Geral */
body {
    background-color: var(--cor-base);
    font-family: 'Roboto', sans-serif;
    /* Usa a fonte Roboto */
    font-weight: 400;
    /* Peso normal */
    font-style: normal;
    /* Estilo normal */
    font-variation-settings: "wdth" 100;
    /* Largura normal, se a fonte suportar */
}

h1 {
    font-family: 'Nunito', sans-serif;
    /* Usa a fonte Nunito */
    font-weight: 700;
    /* Peso mais grosso */
    font-style: italic;
    /* Estilo itálico */
}


/* Overlay com fundo transparente */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Cor preta com 20% de opacidade */
    z-index: -1;
    /* Coloca o overlay atrás do conteúdo */
}


/* Cabeçalho */
header {
    position: relative;
    /* Necessário para o overlay ficar atrás do conteúdo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: grayscale(80%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.custom-header {
    background-image: url('../background/1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Para a imagem ficar fixa ao rolar a página */
    filter: grayscale(30%);
    /* Aplica um tom de cinza na imagem */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    /* Sombra no texto para melhorar a legibilidade */
    padding: 80px 0;
    text-align: center;
    z-index: 1;
    /* Garante que o conteúdo fique acima do overlay */
}

header h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: var(--cor-base);
}

header p {
    font-size: 1.25rem;
    color: var(--cor-base);
}

header p strong {
    font-size: 1.25rem;
    color: var(--cor-azul);
}

/* Seções */
section {
    margin: 50px 0;
    background-color: var(--cor-base);

}

section .text-primary{
  margin: 8px;
 padding: 8px;
}


section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--cor-azul);
}

section p {
    font-size: 1.125rem;
    color: var(--cor-preta);
}

/* Container do Grid */
.container-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilo do Card */
.card-produto {
    background-color: var(--cor-base);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Efeito ao passar o mouse */
.card-produto:hover {
    transform: translateY(-15px);
    /* Eleva o card */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Imagem do Produto */
/*.card-produto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #eee;
}-->
*/
.card-produto img {
    width: 60%;
    /* Define a largura como 90% da largura do card */
    height: auto;
    /* Mantém a proporção da imagem */
    margin: auto;
    /* Centraliza a imagem dentro do card */
    display: flex;
    /* Garante que a imagem seja tratada como bloco */
    border-radius: 8px;
    /* (Opcional) Deixa as bordas arredondadas para um estilo mais moderno */
}


/* Informações do Produto */
.card-produto .info {
    padding: 15px;
    font-size: 1.2em;
    color: var(--cor-preta);
    margin-top: auto;
}

.card-produto .descricao {
    padding: 15px;
    font-size: 1.2em;
    color: var(--cor-preta);
    margin-bottom: 10px;
}



.card-produto p {
    font-size: 0.7em;
    color: var(--cor-preta);
    margin-bottom: 15px;
}

/* Preço */
.card-produto .preco {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--cir-azul-morinho);
    /* Cor destacada para o preço */
    font-size: 20px;
    /* Tamanho do texto maior para destaque */

}

/* Estilo para o preço antigo */
.preco-antigo {
    color: rgb(168, 0, 0);
    /* Cor destacada */
    text-decoration: line-through;
    /* Risco de cartado */
    font-size: 16px;
    /* Tamanho do texto */
    margin-bottom: 5px;
    /* Espaço abaixo do preço */
    font-size: 15px;
    /* Tamanho do texto maior para destaque */
}

/* Botão de Compra */
.card-produto .btn-compra {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--cor-roxo);
    color: var(--cor-base);
    text-align: center;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.card-produto .btn-compra:hover {
    background-color: var(--cor-verde);
}


/* Rodapé */
/* Footer Styles */
footer {
    background: linear-gradient(to right, var(--cor-rosa), var(--cor-marinho));
    /* Cor de fundo do footer */
    color: var(--cor-base);
    /* Cor da fonte */
    padding: 8px;
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    /* Espaçamento entre os elementos da esquerda e da direita */
}


.contact-info p {
    margin-bottom: 5px;
    /* Espaçamento entre as informações de contato */
}

/* Redes Sociais */
.social-media {
    display: flex;
    justify-content: center;
    /* Centraliza os ícones */
    margin-bottom: 10px;
    /* Espaçamento abaixo do bloco de redes sociais */
}

.social-media a {
    color: var(--cor-base);
    /* Define a cor dos ícones */
    text-decoration: none;
    /* Remove o sublinhado dos links */
    margin: 0 5px;
    /* Espaçamento entre os ícones */
}

/* Formas de Pagamento */
.payment-info {
    display: flex;
    justify-content: flex-end;
    /* Alinha os ícones de pagamento à direita */
    margin-bottom: 10px;
    /* Espaçamento abaixo do bloco de formas de pagamento */
}

.payment-img {
    width: 30px;
    /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 0 5px;
}

/* Copyright */
.copyright {
    display: flex;
    align-items: end;
    /* Alinha o copyright à esquerda */
    text-align: left;
    /* Alinha o texto do copyright à esquerda */
}

.media-pay {
    display: flex;
    flex-direction: column;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-md-3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

p.text-center {
    padding: 8px;
    margin: 8px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    section h2 {
        font-size: 2rem;
    }

    .col-md-3 {
        flex: 1 1 48%;
    }
    footer {
       font-size: small;
    }
    .container {
        max-width: 1200px;
    }
    p.text-center {
        padding: 8px;
        margin: 8px;
    }
    section .text-primary{
        margin: 8px;
       padding: 8px;
      }


}

@media (max-width: 576px) {
    header h1 {
        font-size: 2rem;
    }

    .col-md-3 {
        flex: 1 1 100%;
    }
    footer {
        font-size: small;
     }
     .container {
        max-width: 1200px;
    }
    p.text-center {
        padding: 8px;
        margin: 8px;
    }
    section .text-primary{
        margin: 8px;
       padding: 8px;
      }

}